/*CORPO DO SITE*/
body{
    font-family: 'Bree Serif', serif, Arial, Helvetica, sans-serif;
    color: rgb(143, 143, 143);
    font-weight: normal;
    line-height: 1.7;
}

/* CABEÇALHO*/
.main-header{
    position:fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 35%;
    
    padding: 20px 40px;
    box-sizing: border-box;
    background-image: url(../images/background.jpg);
    background-position: center top;
    background-size:  cover;
    background-repeat: no-repeat;
}
.main-header-title{
    color: rgb(199, 34, 34);
    text-shadow: 2px 2px 2px white;
    font-size: 50px;
    position: relative;
    top:10px;
    height:max-content;
    width: max-content;
    border-bottom: solid rgb(199, 34, 34) 2px;
}

/* MENU DO CABEÇALHO*/
.main-menu ul li {
    list-style: none;
    display: inline;
    text-transform: uppercase;
    font-size: 23px;
    margin-left: 2px;
    color: white;
    text-decoration: none;
}
.main-menu a{
color: rgb(199, 34, 34);
text-decoration: none;
text-align: center;
font-size: 30px;
border-bottom: 2px solid rgb(199, 34, 34);
text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.726); 
padding: 2px;
}
.main-menu a:hover{
    text-shadow: none;
    color:white;
    transition: .6s;
    transition-timing-function: unset;
    border-bottom-color: transparent;
}

/* CONTEÚDO DO SITE*/
.main-content{
    width: 65%;
    margin-left: 35%;
    padding: 90px 40px;
    box-sizing: border-box;
}
.main-content-section-receitas img:hover{
    transform: scale(1.01);
    
    
} 
.main-content-section-receitas a{
    border-bottom: 2px solid rgb(199, 34, 34);
    text-decoration: none;
    font-family: 'Bree Serif', serif, Arial, Helvetica, sans-serif;
    color: rgb(143, 143, 143);
    font-weight: normal;
    line-height: 1.3;
    font-size: 25px;
     

}
/* FORMULÁRIO*/
.formulario{
    border: solid 2px rgb(143, 143, 143);
    
}

.formulario label, input, textarea{
    display: block;
    margin: 0 10px 10px 10px;
    border-radius: 5px;
    width: 50%;
    text-transform: uppercase; 
}

#mensagem{
     width: 50%;
      height: 150px; 
      resize: none;
      border-radius: 5px;
}

/* PARTE DO MAPA*/
.main-content-section-address iframe{
    width: 100%;
    height: 60%;
    margin: 0;
}
    
/* PARTE DO RODAPÉ*/
.main-footer{
    text-align: center;
    position: relative;
    top: 55%;
    color: white;
}
.main-footer a{
    padding: 8px;
}
.main-footer p{
    font-size: 18px;
}
.main-footer img:hover{
    
    transform: scale(1.13);
    transition-timing-function: linear;
}   
    


